<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

    <!--导航-->
    <nav class="ui segment inverted attached m-padding-tb-mini m-shadow-small">
        <div class="container">
            <div class="ui inverted stackable menu secondary">
                <h2 class="ui teal header item">关于我</h2>
                <a href="#" class="active item m-mobile-hide m-item"><i class="mini home icon"></i>首页</a>
                <a href="#" class="item m-mobile-hide m-item"><i class="mini  idea icon"></i>分类</a>
                <a href="#" class="item m-mobile-hide m-item"><i class="mini tags icon"></i>标签</a>
                <a href="#" class="item m-mobile-hide m-item"><i class="mini clone icon"></i>归档</a>
                <a href="#" class="item m-mobile-hide m-item"><i class="mini info icon"></i>关于我</a>
                <div class="right item m-mobile-hide m-item">
                    <div class="ui input icon transparent inverted">
                        <input type="text" placeholder="Search......">
                        <i class="search icon link"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui icon black button m-right-top m-mobile-show m-menu-toggle">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--中间内容-->
    <div class="m-padding-tb-big">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eleven wide column">
                    <div class="ui segment">
                        <img src="https://source.unsplash.com/random/800x700" alt=""  class="ui rounded image">
                    </div>
                </div>
                <div class="five wide column">
                    <div class="ui top attached segment center aligned">
                        <h3>关于我</h3>
                    </div>
                    <div class="ui attached segment padded">
                        <p class="m-text">有人对我说，你拍的那些照片怎么总和别人不一样?就连你镜头下的猫，一点都不像平时可爱又萌萌的样子，反而给人一种能够说话的感觉。 记得有一次，朋友问我，你拍了这么多的照片，印象最...</p>
                        <p class="m-text">有人对我说，你拍的那些照片怎么总和别人不一样?就连你镜头下的猫，一点都不像平时可爱又萌萌的样子，反而给人一种能够说话的感觉。 记得有一次，朋友问我，你拍了这么多的照片，印象最...</p>
                    </div>
                    <div class="ui attached segment padded">
                        <a href="#" class="ui orange left pointing basic label m-margin-tb-tiny">方</a>
                        <a href="#" class="ui orange left pointing basic label m-margin-tb-tiny">方法</a>
                        <a href="#" class="ui orange left pointing basic label m-margin-tb-tiny">方法论</a>
                        <a href="#" class="ui orange left pointing basic label m-margin-tb-tiny">法论</a>
                        <a href="#" class="ui orange left pointing basic label m-margin-tb-tiny">方</a>
                        <a href="#" class="ui orange left pointing basic label m-margin-tb-tiny">方法论</a>
                        <a href="#" class="ui orange left pointing basic label m-margin-tb-tiny">法论</a>
                        <a href="#" class="ui orange left pointing basic label m-margin-tb-tiny">方法</a>
                        <a href="#" class="ui orange left pointing basic label m-margin-tb-tiny">论</a>
                        <a href="#" class="ui orange left pointing basic label m-margin-tb-tiny">方法</a>
                    </div>
                    <div class="ui attached segment padded">
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-tiny">方</a>
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-tiny">方法</a>
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-tiny">方法论</a>
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-tiny">法论</a>
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-tiny">方</a>
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-tiny">方法论</a>
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-tiny">法论</a>
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-tiny">方法</a>
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-tiny">论</a>
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-tiny">方法</a>
                    </div>
                    <div class="ui bottom attached segment padded">
                        <a href="#" class="ui circular icon button">
                            <i class="github icon"></i>
                        </a>
                        <a href="#" class="ui circular icon button" data-tooltip="279660577" data-position="bottom center">
                            <i class="qq icon"></i>
                        </a>
                        <a href="#" class="ui m-weixin circular icon button">
                            <i class="weixin icon"></i>
                        </a>
                        <div class="ui weixinQR popup transition hidden">
                            <div class="ui orange basic label">
                                <div class="ui small image">
                                    <img src="../static/image/wechat.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    <footer class="ui segment inverted attached ">
        <div class="ui container center aligned m-padding-tb-max">
            <div class="ui divided grid inverted stackable">
                <div class="three wide column">
                    <img src="../static/image/wechat.jpg" alt="" class="ui rounded image" style="width: 12em" >
                </div>
                <div class="three wide column">
                    <h4 class="ui header inverted">最新博客</h4>
                    <div class="ui link list inverted m-opacity-mini m-text-lined">
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">关于刻意练习的清单</a>
                        <a href="#" class="item">失败要趁早</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header inverted">联系我</h4>
                    <div class="ui link list inverted m-opacity-mini m-text-lined">
                        <a href="#" class="item">Email:279660577@qq.com</a>
                        <a href="#" class="item">QQ:279660577</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui header inverted m-opacity-tiny" >WuJinzi</h4>
                    <p class="m-text-spaced m-opacity-tiny m-text-lined">我选择沉默的主要原因之一：从话语中，你很少能学到人性，从沉默中却能。假如还想学得更多，那就要继续一声不吭 。</p>
                </div>
            </div>
            <div class="ui section divider inverted"></div>
            <P class="m-text-spaced m-opacity-tiny">Copyright © 2018 WuJinzi. All Rights Reserved!</P>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script>
        $('.m-menu-toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $('.m-weixin')
            .popup({
                popup : $('.weixinQR'),
                on    : 'hover',
                position: 'right center'
            });
    </script>
</body>
</html>